* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}

.header-section {
  background-color: #fff;
  background-size: cover;
  height: 90px;
}

.header-section .container .logo img {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-section .container .col-md-3 {
  position: relative;
}

.header-section .container .col-md-3 .menu-bar-box {
  color: #131c1f;
  font-size: 30px;
  margin-top: 25px;
  text-align: center;
}

.header-section .container .col-md-3 .menu-bar-box:hover {
  cursor: pointer;
}

.header-section .container .col-md-3 .menu-box {
  position: absolute;
  top: 60px;
  width: 100%;
  display: none;
}

.header-section .container .col-md-3 .menu-box.show {
  display: block;
}

.header-section .container .col-md-3 .menu-box ul {
  margin-top: 30px !important;
  background-color: #fff;
  padding: 40px 0px !important;
}

.header-section .container .col-md-3 .menu-box ul li {
  list-style: none;
}

.header-section .container .col-md-3 .menu-box ul li a {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  color: #111;
  text-decoration: none;
  display: block;
  text-align: center !important;
}

.header-section .container .col-md-3 .menu-box ul li a:hover {
  color: #fff;
  background-color: #131c1f;
}

.header-section .container .col-md-3 .menu-box ul li a i {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

.header-section .container .col-md-7 {
  text-align: center;
}

.header-section .container .col-md-7 .icon-box i {
  color: #131c1f;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 10px;
}

.hero-area-section {
  height: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.432)), to(rgba(0, 0, 0, 0.452))), url("./../images/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.452)), url("./../images/bg.jpg");
  background-position-x: right;
  background-size: cover;
}

.hero-area-section .col-md-12 {
  text-align: center;
  padding-top: 250px;
}

.hero-area-section .col-md-12 h1 {
  font-family: 'Raleway',sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.hero-area-section .col-md-12 h1 span {
  color: #18fff4;
  font-family: 'Raleway',sans-serif;
}

.hero-area-section .col-md-12 .btn-box {
  margin-top: 20px;
}

.hero-area-section .col-md-12 .btn-box button {
  background-color: #fff;
  color: #131c1f;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 6px 25px;
}

.hero-area-section .col-md-12 .btn-box button:last-child {
  margin-left: 10px;
}

.about-section {
  padding: 100px 0px;
}

.about-section .col-md-7 {
  text-align: center !important;
}

.about-section .col-md-7 img:first-child {
  width: 40%;
  height: 450px;
  margin-top: 50px;
  margin-right: 20px;
}

.about-section .col-md-7 img:last-child {
  width: 50%;
}

.about-section .col-md-5 .about-text {
  margin-top: 70px;
  padding: 50px 30px;
  width: 100%;
  color: #222;
  position: relative;
}

.about-section .col-md-5 .about-text h1 {
  font-family: 'Cookie',cursive;
  font-size: 50px;
}

.about-section .col-md-5 .about-text p {
  text-align: justify;
  font-family: 'Cookie',cursive;
  font-size: 22px;
  font-weight: 500;
}

.about-section .col-md-5 .about-text .icon-box {
  margin-top: 20px;
}

.about-section .col-md-5 .about-text .icon-box i {
  font-size: 30px;
}

.about-section .col-md-5 .about-text button {
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #fff;
  color: #222;
  border: 1px solid #131c1f;
  font-family: 'Cookie',cursive;
  font-size: 20px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.service-section {
  padding: 50px 0px 70px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.363)), to(rgba(0, 0, 0, 0.404))), url("./../images/about-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.404)), url("./../images/about-bg.jpg");
  background-size: cover;
}

.service-section h1 {
  margin-bottom: 100px !important;
  margin: auto;
  color: #ffff;
  font-weight: 700;
  font-family: 'Staatliches',sans-serif;
  border-bottom: 5px solid #fff;
  padding-bottom: 20px;
  width: 30%;
  text-align: center;
}

.service-section h1 i {
  margin-left: 5px;
}

.service-section .container .row .col-md-3 .coffee-block {
  background-color: #131c1f;
  padding: 20px;
  height: 500px;
  position: relative;
  text-align: center;
}

.service-section .container .row .col-md-3 .coffee-block img {
  margin-top: -40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.service-section .container .row .col-md-3 .coffee-block p {
  padding: 30px 0px 15px 0px;
  font-size: 16px;
  color: #cfcfcf;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
}

.service-section .container .row .col-md-3 .coffee-block button {
  padding: 6px 15px;
  background-color: #fff;
  color: #131c1f;
  font-weight: 600;
  border: 1px solid #fff;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
}

.service-section .container .row .col-md-3 .coffee-block .icon-box i {
  color: #fff;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */