* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}

.header-section {
  background-color: #fff;
  background-size: cover;
}

.header-section .container .logo img {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-section .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px !important;
  margin: auto;
  width: 80%;
}

.header-section .container ul li {
  list-style: none;
}

.header-section .container ul li a {
  padding: 10px 25px;
  color: #131c1f;
  text-decoration: none;
}

.header-section .container .icon-box {
  float: right;
}

.header-section .container .icon-box i {
  color: #131c1f;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
}

.hero-area-section {
  height: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.432)), to(rgba(0, 0, 0, 0.452))), url("./../images/bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.452)), url("./../images/bg.jpg");
  background-position-x: right;
  background-size: cover;
}

.hero-area-section .col-md-12 {
  text-align: center;
  padding-top: 250px;
}

.hero-area-section .col-md-12 h1 {
  font-family: 'Raleway',sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.hero-area-section .col-md-12 h1 span {
  color: #18fff4;
  font-family: 'Raleway',sans-serif;
}

.hero-area-section .col-md-12 .btn-box {
  margin-top: 20px;
}

.hero-area-section .col-md-12 .btn-box button {
  background-color: #fff;
  color: #131c1f;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 6px 25px;
}

.hero-area-section .col-md-12 .btn-box button:last-child {
  margin-left: 10px;
}

.about-section {
  padding: 100px 0px;
  background: url("./../images/about-section-bg.jpg");
  background-size: cover;
}

.about-section .col-md-6:last-child {
  text-align: center !important;
}

.about-section .col-md-6:last-child img {
  width: 60%;
  margin: auto !important;
}

.about-section .col-md-6 .about-text {
  margin-top: 70px;
  padding: 50px 30px;
  width: 100%;
  background-color: #131c1f;
  color: #fff;
  position: relative;
}

.about-section .col-md-6 .about-text h1 {
  font-family: 'Cookie',cursive;
  font-size: 50px;
}

.about-section .col-md-6 .about-text p {
  text-align: justify;
  font-family: 'Cookie',cursive;
  font-size: 22px;
  font-weight: 500;
}

.about-section .col-md-6 .about-text .icon-box {
  margin-top: 20px;
}

.about-section .col-md-6 .about-text .icon-box i {
  font-size: 30px;
}

.about-section .col-md-6 .about-text button {
  float: right;
  position: absolute;
  left: 70%;
  top: 95%;
  padding: 6px 25px;
  background-color: #fff;
  color: #131c1f;
  border: 1px solid #131c1f;
  font-family: 'Cookie',cursive;
  font-size: 20px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.service-section {
  padding: 50px 0px 70px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.363)), to(rgba(0, 0, 0, 0.404))), url("./../images/about-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.404)), url("./../images/about-bg.jpg");
  background-size: cover;
}

.service-section h1 {
  margin-bottom: 100px !important;
  margin: auto;
  color: #ffff;
  font-weight: 700;
  font-family: 'Staatliches',sans-serif;
  border-bottom: 5px solid #fff;
  padding-bottom: 20px;
  width: 30%;
  text-align: center;
}

.service-section h1 i {
  margin-left: 5px;
}

.service-section .container .row .col-md-3 .coffee-block {
  background-color: #131c1f;
  padding: 20px;
  height: 500px;
  position: relative;
  text-align: center;
}

.service-section .container .row .col-md-3 .coffee-block img {
  margin-top: -40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.service-section .container .row .col-md-3 .coffee-block p {
  padding: 30px 0px 15px 0px;
  font-size: 16px;
  color: #cfcfcf;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
}

.service-section .container .row .col-md-3 .coffee-block button {
  padding: 6px 15px;
  background-color: #fff;
  color: #131c1f;
  font-weight: 600;
  border: 1px solid #fff;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
}

.service-section .container .row .col-md-3 .coffee-block .icon-box i {
  color: #fff;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */